#logo{
    width: 100%;
    height: 120px;
    margin: 0px 0px 5px 0px;
}

#headline{
    color: red;
    margin: 5px auto 5px;
    text-align: center
}

a.ctg{
    padding: 10px 50px 5px 50px;
    color:rgb(120, 178, 203)
}

.categories{
    text-align: center;
}